* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* INIZIO REGOLE DI DEBUG */
/* .debug .col {
    border: dotted 2px black;
} */
/* 
.debug header .topbar > div {
    background-color: gold;
} */

/* .debug #jumbotron {
    background-color: darkblue;
} */

/* .debug #jumbotron .content {
    background-color: violet;
} */

.debug main section {
    height: 600px;
}

.debug main section:last-child {
    height: 1000px;
}

/* .debug .big-column {
    background-color: dodgerblue;
} */

/* .debug .small-column {
    background-color: pink;
} */

/* .debug .full-column {
    background-color: green;
} */

/* .debug .footer-top {
    height: 200px;
} */

/* .debug .main-column {
    background-color: lightcoral;
} */

/* .debug .footer-top .menu-column .col{
  border: dotted 2px white;
  background-color: lightseagreen;
} */
/* 
.debug .footer-bottom {
    background-color: aquamarine;
}

.debug .footer-bottom .col {
    background-color: pink;
} */


body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, sans-serif, Arial;
}


/* HEADER */
header {
    background-color: #255ee9;
    height: 580px;
    color: white;
}

header .topbar {
    height: 80px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

/* header .topbar > div {
    padding: 10px;
} */

header .logo img {
    width: 50%;
}

header .logo, header .login {
width: 20%;
}

header .link {
    width: 60%;
}

header .link ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header .link li {
    padding: 0 5px;
}

header li a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

header .login {
    text-align: right;
}

header .login button {
    background-color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}

#jumbotron {
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
}

#jumbotron .content{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    
}

.content h1 {
    font-size: 3rem;
    text-align: center;
}

.content div {
    text-align: center;
    margin-bottom: 20px;
}

.jumbotron .button {
    display: flex;
    flex-wrap: wrap;
}

.button button {
    background-color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}
.button i {
    width: 5%;
    margin-right: 3px;
}

.button .black {
    background-color: black;
    color: white;
    margin-left: 10px;
}
/* FINE HEADER */




/* MAIN */
main section {
    padding: 50px;
}

.bg-grey {
    background-color: lightgray;
}

.section-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    /* regola per spaziare i quadrati in futuro se serve⁄ */
    /* justify-content: space-between; */
}

.big-column {
    width: 60%;
    display: flex;
    justify-content: center;
}

.small-column {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.full-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-column img {
    width: 100%;
}

.small-column h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    align-items: flex-start;

}

.full-column img {
    width: 90%;
}

.full-column h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.full-column div {
    text-align: center;
    margin-bottom: 0;
}

.full-column h2 {
    font-size: 2rem;
    width: 50%;
    background-image: url(../img/stars.svg);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.full-column button {
    background-color: #7289da;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}
/* FINE MAIN */




/* FOOTER⁄ */

footer {
    background-color: #23272a;
}

.footer-top {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px 0 50px 0;

    /* regola per spaziare i quadrati in futuro se serve⁄ */
    justify-content: space-between;
}

.footer-top .main-column {
    color: white;
    width: 25%;
    margin-top: 40px;
}

.footer-top .menu-column {
    width: 75%;
    display: flex;
    margin-top: 40px;

    /* regola per spaziare i quadrati in futuro se serve⁄ */
    justify-content: space-between;
}

.footer-top .menu-column .col {
    flex-basis: 25%;
}

.footer-bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    /* margin: 50px auto 0; */
    align-items: center;

    /* regola per spaziare i quadrati in futuro se serve⁄ */
    justify-content: space-between;

}

.footer-bottom .col {
    padding: 10px;
}

.main-column h2{
   margin-bottom: 20px;
   color: #7289da;
}
.main-column img {
    width: 10%;
    margin-right: 5px;
}

.main-column .icone {
    margin-top: 20px;
}

.main-column .icone i {
    width: 25px;
}

.menu-column div {
    padding-left: 20px;
}

.menu-column h3 {
    color: #7289da;;
}

.menu-column li {
    list-style: none;
    padding: 5px 0;
}

.menu-column li a {
    text-decoration: none;
    color: white;
}

footer hr {
    color: #7289da;
}

.registrati {
    background-color: #7289da;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    color: white;
}
